{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</h1>
<script>
  var g1, g2,g3;
  document.addEventListener("DOMContentLoaded", function(event) {
    g1 = new JustGage({
      id: "g1",
      value: {{temp}},
      valueFontColor: "yellow",
      titleFontColor: "yellow",
      min: '-10',
      max: '50',
      title: "Temperature",
      label: "Celcius"
    });
  
    g2 = new JustGage({
      id: "g2",
      value: {{hum}},
      valueFontColor: "yellow",
      titleFontColor: "yellow",
      min: '0',
      max: '100',
      title: "Humidity",
      label: "%"
    });
    g3 = new JustGage({
      id: "g3",
      value: {{hum}},
      valueFontColor: "yellow",
      titleFontColor: "yellow",
      min: '0',
      max: '100',
      title: "Humidity Ground",
      label: "%"
    });    
  
  });
  </script>
<h1>DHT Sensor Data </h1>
<div id="g1"></div>
<div id="g2"></div>
<div id="g3"></div>
<hr>
<h3> Last Sensors Reading: {{ time }} ==> <a href="#" onclick="javascript:location.reload();" tarjet="_self" class="button">REFRESH</a></h3>	
<hr>
<h3> HISTORICAL DATA </h3>
<p> Enter number of samples to retrieve:
<form method="POST">
  <input name="numSamples" value= {{numSamples}}>
  <input type="submit">

  <input type="submit" value="RIEGO_MANUAL" id="riego_manual" name="RIEGO MANUAL" /> 
  <input type="submit" value="VENTILAR" id="ventilar" name="VENTILAR" />-->
</form></p>
<hr>
<img src="/plot/temp" alt="Image Placeholder" width="49%">
<img src="/plot/hum" alt="Image Placeholder" width="49%">

{% endblock %}
